<div class="form-group form-material {$renderConfig['extra_class']}">
    <input type="text"
           class="form-control {if empty($renderConfig['value'])}empty{/if}"
           value="{$renderConfig['value']}"
           id="adminField{$renderConfig['name']}"
           name="{$renderConfig['name']}"
           {$renderConfig['extra_attr']}>
    <div class="hint">{$renderConfig['tips']}</div>
    <label class="floating-label" for="adminField{$renderConfig['name']}">{$renderConfig['title']}</label>
</div>
